/node_modules
/public/hot
/public/vendor/scribe
/public/storage
/storage/*.key
/vendor
/docker
.docker-compose.yml
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.ideal
_ide_helper.php
database.sqlite
composer.lock
